body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-color: rgb(228, 213, 193);

}



.conteiner{
    background-color: rgb(162, 143, 180);
    width: 500px;
    height: 200px;
    text-align: center;
    border-radius: 6px;
    
    
}

h1{
    color:black
}


.buttons-conteiner{
    width: 100%;
 justify-content: center;
  display: flex;
  gap: 30px;
}

span{
    font-size: 40px;
}

button{
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    
font-size: 20px;
box-shadow: 0 2px 10px;
}

.subtract{
background-color: cadetblue;
}
.reset{
    background-color: azure;
}
.add{
    background-color: rgb(219, 219, 74);
}